{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "svelteStrictMode": true,
  "allowShorthand": false,
  "bracketSameLine": true,
  "printWidth": 120
}